# OS
.DS_Store

# Logs
*.log

# Dependencies
node_modules/
vendor/

# Composer
composer.lock

# IDE
.idea/
.vscode/
*.sublime-*

# Build artifacts
*.zip
.phpunit.cache/
node_modules/
coverage/

# Playwright
test-results/
playwright-report/
