/**
 * View Button Block - Styles
 *
 * BEM naming: .wp-block-tgp-view-button[__element][--modifier]
 */

.wp-block-tgp-view-button {
	display: inline-flex;
	align-items: center;
	gap: 0.5em;
	text-decoration: none;
}

.wp-block-tgp-view-button__icon {
	display: flex;
	align-items: center;
	flex-shrink: 0;
}

.wp-block-tgp-view-button__icon svg {
	width: 1em;
	height: 1em;
}

.wp-block-tgp-view-button__text {
	white-space: nowrap;
}
