/**
 * Copy Button Block - Styles
 *
 * BEM naming: .wp-block-tgp-copy-button[__element][--modifier]
 */

.wp-block-tgp-copy-button {
	display: inline-flex;
	align-items: center;
	gap: 0.5em;
	cursor: pointer;
}

.wp-block-tgp-copy-button:disabled {
	opacity: 0.7;
	cursor: not-allowed;
}

.wp-block-tgp-copy-button__icon {
	display: flex;
	align-items: center;
	flex-shrink: 0;
}

.wp-block-tgp-copy-button__icon svg {
	width: 1em;
	height: 1em;
}

.wp-block-tgp-copy-button__text {
	white-space: nowrap;
}

/* Loading state */
.wp-block-tgp-copy-button.is-loading {
	opacity: 0.7;
	cursor: wait;
}

.wp-block-tgp-copy-button.is-loading .wp-block-tgp-copy-button__icon svg {
	animation: tgp-copy-button-spin 1s linear infinite;
}

@keyframes tgp-copy-button-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
